<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Articles.ReadSide.Service.ArticlesService" behaviorConfiguration="mexBehaviour">
        <endpoint address="ArticlesService" binding="basicHttpBinding" contract="Articles.ReadSide.Service.IArticlesService">
        </endpoint>
        <endpoint address="ArticlesService" binding="netTcpBinding" contract="Articles.ReadSide.Service.IArticlesService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
  
  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
</configuration>