
#shoping-cart {
    width: 600px;
    border: 1px solid brown;
    margin-bottom: 30px;
}

    #shoping-cart tr {
        border: 1px solid brown;
    }

        #shoping-cart tr td {
            padding: 6px;
        }

        #shoping-cart tr:first-child {
            background-color: black;
            color: orange;
        }
 
        #shoping-cart tr td:nth-child(2) {
            width: 10%;
        }

        #shoping-cart tr td:nth-child(3) {
            width: 5%;
        }

            #shoping-cart tr td:nth-child(3) input {
                width: 100%;
                text-align: center;
            }

        #shoping-cart tr td:nth-child(4) {
            width: 10%;
        }